@import 'bootstrap-sprockets';
@import 'bootstrap';

$main_color: #4D394B;
// $background: #ECF0F1;
// $accents: #CE1126;

.nav_bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  background-color: $main_color;
    .slack_icon {
      padding: 10px 0px;
      height: 70px;
    }

}
